* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;
}

fieldset {
  display: flex;
  flex-direction: column;
	flex-wrap: wrap;
}

div h1 {
	margin-top: 20px;
	padding-bottom: 10px;
	font-size: 3em;
	text-align: center;
	font-weight: bolder;
}

div p {
	margin-bottom: 40px;
	text-align: center;
	color: rgba(146, 144, 146, 0.87);
}

fieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:  center;
	margin: 0 20px;
	border-style: double none none none;
	border-top-width: 10px;
}

fieldset legend {
	font-size:  1.4em;
	font-weight: bold;
	padding-right: 20px;
	margin-bottom: 30px;
}

label[for="name"],
label[for="email"],
label[for="phone"],
label[for="address"],
label[for="city"],
label[for="country"],
label[for="zip_code"] {
	align-self: flex-start;
	padding-top: 15px;
	padding-bottom: 10px;
}

#name,
#email,
#phone,
#address,
#city,
#zip_code {
	align-self: flex-start;
	height: 50px;
	width: 100%;
	border: none;
	background-color: rgba(240, 240, 240, 0.87);
	border-radius: 10px;
}

input::placeholder {
	color: rgba(199, 198, 199, 0.87);
	text-align: right;
	padding-right: 20px;
	font-style: italic;
	margin-bottom: 20px;
}

#country {
	align-self: flex-start;
	height: 50px;
	width: 100%;
	border: none;
	background-color: rgba(240, 240, 240, 0.87);
	color: rgba(87, 86, 88, 0.87);
	border-radius: 10px;
	margin-bottom: 10px;
}

/*############# NEWSLETTER SECTION ############*/

fieldset {
	margin-top: 30px;
}

fieldset > p {
	width: 100%;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

section {
	width: 100%;
}

section > div {
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
}

input[type="checkbox"] {
	cursor: pointer;
}

label[for="html_news"],
label[for="css"],
label[for="js"] {
	padding-left: 15px;
} 

label[for="html"],
label[for="plain"] {
	padding-left: 15px;
}

.textarea {
	margin-top: 20px;
	margin-bottom: 40px;
	margin-left: 0;
}

textarea {
	width: 90vw;
	font-size: 1.2em;
	letter-spacing: 1px;
	padding: 10px;
	line-height: 1.5;
	border-radius: 5px;
	border: 1px solid #ccc;
	box-shadow: 1px 1px 1px #999;
}

.textarea p {
	text-align: left;
	margin-bottom: 10px;
} 

/*############# BUTTON ############*/

input[type="submit"] {
	display: inline-block;
	position: relative;
	border: none;
	border-radius: 5px;
	padding:  1rem 2rem;
	left: 15%;
	text-decoration: none;
	background: #0069ed;
	color: #ffffff;
	font-size: 1rem;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	width: 70%;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

/*############# FOOTER ############*/

footer {
	margin-top:  60px;
	background-color:  rgba(131, 126, 126, 0.87);
	height: 50px;
	text-align: center;
	padding: 1em ;
	font-style: italic;
	font-size: .8em;
}

@media (min-width: 768px) {

	fieldset {
    flex-direction: row;
    justify-content: space-between;
  }
  
  label[for="name"],
  label[for="email"],
  label[for="phone"],
  label[for="address"],
  label[for="city"],
  label[for="country"],
  label[for="zip_code"] {
		flex-basis: 20%;
		margin-top: 15px;
		margin-bottom: 10px;
  }
  
  #name,
  #email,
  #phone,
  #address,
  #city,
  #country,
  #zip_code {
		flex-basis: 75%;
		margin-top: 15px;
		margin-bottom: 10px;
		font-size: 1em;
  }
}


