* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Montserrat', sans-serif;

}

div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:  center;
}

div h1 {
	margin-top: 20px;
	padding-bottom: 10px;
	font-size: 3em;
	font-weight: bolder;
}

div p {
	margin-bottom: 40px;
	color: rgba(146, 144, 146, 0.87);
}

fieldset {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:  center;
	margin: 0 20px;
	border-style: double none none none;
	border-top-width: 10px;
}

fieldset legend {
	font-size:  1.4em;
	font-weight: bold;
	padding-right: 20px;
}

/*############# NAME ############*/

label[for="name"] {
	align-self: flex-start;
	padding-top: 15px;
	padding-bottom: 10px;
}

#name {
	align-self: flex-start;
	height: 50px;
	width: 100%;
	border: none;
	background-color: rgba(240, 240, 240, 0.87);
	border-radius: 10px;
}

input::placeholder {
	color: rgba(199, 198, 199, 0.87);
	text-align: right;
	padding-right: 20px;
	font-style: italic;
	margin-bottom: 20px;
}

/*############# EMAIL ############*/

label[for="email"] {
	align-self: flex-start;
	padding-top: 15px;
	padding-bottom: 10px;
}

#email {
	align-self: flex-start;
	height: 50px;
	width: 100%;
	border: none;
	background-color: rgba(240, 240, 240, 0.87);
	border-radius: 10px;
}

/*############# PHONE NUMBER ############*/

label[for="phone"] {
	align-self: flex-start;
	padding-top: 15px;
	padding-bottom: 10px;
}

#phone {
	align-self: flex-start;
	height: 50px;
	width: 100%;
	border: none;
	background-color: rgba(240, 240, 240, 0.87);
	border-radius: 10px;
}

/*############# STREET ADDRESS ############*/

label[for="address"] {
	align-self: flex-start;
	padding-top: 15px;
	padding-bottom: 10px;
}

#address {
	align-self: flex-start;
	height: 50px;
	width: 100%;
	border: none;
	background-color: rgba(240, 240, 240, 0.87);
	border-radius: 10px;
}

/*############# CITY ############*/

label[for="city"] {
	align-self: flex-start;
	padding-top: 15px;
	padding-bottom: 10px;
}

#city {
	align-self: flex-start;
	height: 50px;
	width: 100%;
	border: none;
	background-color: rgba(240, 240, 240, 0.87);
	border-radius: 10px;
}

/*############# COUNTRY ############*/

label[for="country"] {
	align-self: flex-start;
	padding-top: 15px;
	padding-bottom: 10px;
}

select option[value="placeholder_text"] {
	color: red;

}

#country {
	align-self: flex-start;
	height: 50px;
	width: 100%;
	border: none;
	background-color: rgba(240, 240, 240, 0.87);
	color: rgba(87, 86, 88, 0.87);
	border-radius: 10px;
	margin-bottom: 10px;
}

/*############# ZIP CODE ############*/

label[for="zip_code"] {
	align-self: flex-start;
	padding-top: 15px;
	padding-bottom: 10px;
}

#zip_code {
	align-self: flex-start;
	height: 50px;
	width: 20%;
	border: none;
	background-color: rgba(240, 240, 240, 0.87);
	border-radius: 10px;
	margin-bottom: 40px;
}

/*############# NEWSLETTER ############*/

fieldset > p {
	width: 100%;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

section {
	width: 100%;
}

section > div {
	width: 100%;
	display: inline-block;
	margin-bottom: 10px;
}

input[type="checkbox"] {
	cursor: pointer;
}

label[for="html_news"],
label[for="css"],
label[for="js"] {
	padding-left: 15px;
} 

label[for="html"],
label[for="plain"] {
	padding-left: 15px;
}

.textarea {
	margin-top: 20px;
	margin-bottom: 40px;
	position: relative;
	width: 100%;
	height: 200px;

}

#topic {
	position: absolute;
	left:  0;
	bottom: 0;
	border: 1px solid rgba(131, 126, 126, 0.87);
	resize: none;
	padding-top: 10px;
}

.textarea p {
	position: absolute;
	top: 0;
	left: 0;
}

/*############# BUTTON ############*/

input[type="submit"] {
	display: inline-block;
	position: relative;
	border: none;
	border-radius: 5px;
	padding:  1rem 2rem;
	left: 15%;
	text-decoration: none;
	background: #0069ed;
	color: #ffffff;
	font-size: 1rem;
	cursor: pointer;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	width: 70%;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
    background: #0053ba;
}

button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

/*############# FOOTER ############*/

footer {
	margin-top:  60px;
	background-color:  rgba(131, 126, 126, 0.87);
	height: 50px;
	text-align: center;
	padding: 1em ;
	font-style: italic;
	font-size: .8em;
}


